<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleag.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <!-- 검색창 -->
        <div class="float-end">
            <form class="d-flex">
                <input class="form-control me-2 mb-2" type="search" placeholder="검색" aria-label="Search">
                <button class="btn btn-success mb-2 bi bi-search" type="submit"></button>
            </form>
        </div>
        <div class="h2 pb-3">게시판</div>

        <!-- 게시글 start -->
        <table class="table text-center align-middle">

            <thead class="table-dark">
            <tr>
                <th scope="col" style="width: 5%">NO</th>
                <th scope="col" style="width: 50%">제목</th>
                <th scope="col" style="width: 17%">작성자</th>
                <th scope="col" style="width: 17%">작성일</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="dto : ${result.dtoList}">
                <th scope="row">[[${dto.id}]]</th>
                <td><a class="text-decoration-none" th:href="read">[[${dto.title}]]</a></td>
                <td>
                    [[${dto.writer}]]
                    </br>
                    <i class="bi bi-chat-fill"> 2</i>
                    <i class="bi bi-hand-thumbs-up-fill"> 3</i>
                    <i class="bi bi-eye-fill"> 1</i>
                </td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>

        </table>
        <!-- 게시글 목록 end -->

        <button type="button" class="btn btn-success float-end bi bi-pencil-fill" th:onclick="location.href='write'"> 글쓰기</button>

        <!-- 페이지 이동 버튼 start -->
        <nav aria-label="Page navigation example">
            <ul class="pagination h-100 justify-content-center align-items-center">
                <li class="page-item" th:if="${result.prev}">
                    <a class="page-link" tabindex="-1" th:href="|list?page=${result.getEnd - 10}|">Previous</a>
                </li>

                <li th:class=" 'page-item ' + ${result.page == page?'active':''}" th:each="page: ${result.pageList}">
                    <a class="page-link" th:href="|list?page=${page}|">
                        [[${page}]]
                    </a>
                </li>

                <li class="page-item" th:if="${result.next}">
                    <a class="page-link" th:href="|list?page=${result.getEnd + 1}|">Next</a>
                </li>
            </ul>
        </nav>
        <!-- 페이지 이동 버튼 end -->

    </th:block>

</th:block>

</html>